node_modules
dist
coverage
*.tsbuildinfo
*.tgz
.DS_Store
.env
.env.local
.env.*.local
consensus.config.json
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
